@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.hero-container {
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 500;
    padding-top: 4rem;
}

.hero-container .spotlight-r {
    transform: scaleY(-1) translateY(-75px);
}

.hero-container .spotlight-l {
    transform: scaleY(-1) translateY(-75px);
}

.hero-container .avatar-bg {
    background-size: contain;
    /* max-width: 25rem; */
    margin-inline: auto;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    display: block;
    max-height: 40vh;
    position: relative;
    @apply mt-2;
}

.hero-container .avatar-bg::before {
    content: "";
    /* width: 100%;
    height: 98%; */
    border-radius: 10px;
    background-image: linear-gradient(var(--rotate), var(--clr-text), var(--gradient-white) 3%, var(--clr-text));
    position: absolute;
    z-index: -1;
    top: -4%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.hero-container .avatar-bg::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.85);
    border-radius: 100%;
    filter: blur(5px);
    background-image: linear-gradient(var(--rotate), var(--clr-text), var(--gradient-white) 53%, var(--clr-text));
    opacity: 1;
    transition: opacity .0s;
    animation: spin 3.5s linear infinite;
}

.hero-container .name {

    font-weight: bold;
}

.hero-container .profile {
    font-weight: bold;
    letter-spacing: 1.25px;
}

.hero-container .info {
    background-color: var(--clr-bg-info);
    border-radius: 1rem;
}


@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}