
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.about-container {
    font-family: 'Edu SA Beginner', cursive;
    font-size: 1.20rem;
    font-weight: 400;
}

.about-container .about-me {
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 700;
    font-size: 2.25rem;
    margin-left: 1rem;
}

.about-container .social-link {
    position: relative;
}

.about-container .social-link::before {
    content: "";
    width: 100%;
    height: 98%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), var(--clr-text), var(--gradient-white) 53%, var(--clr-text));
    position: absolute;
    z-index: -1;
    top: -4%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.about-container .social-link::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.85);
    background-image: linear-gradient(var(--rotate), var(--clr-text), var(--gradient-white) 53%, var(--clr-text));
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}