@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --clr-text: hsl(256, 45%, 20%);
    --primary: hsl(255, 100%, 88%);
    --clr-primary: hsl(255, 100%, 88%);
    --clr-navbar: hsl(256 30% 26%);
    --clr-bg-info: hsl(255, 100%, 88%, .6);
    --gradient-white: hsl(256, 0%, 95%);
    --background-gradient: linear-gradient(var(--clr-primary), var(--gradient-white), var(--clr-primary));

}

html {
    /* scroll-snap-type: y mandatory; */
    scroll-behavior: smooth;
}

/* .section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
} */

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 100vw;
    background: var(--background-gradient);
    background-attachment: fixed;
    color: var(--clr-text);
    overflow-x: hidden;
}

.light {
    --primary: hsl(255, 100%, 88%);
    --gradient-white: hsl(256, 0%, 95%);
    --background-gradient: linear-gradient(var(--primary), var(--gradient-white), var(--primary));
    --clr-text: hsl(256, 45%, 20%);
    --clr-navbar: hsl(256 30% 26%);
    --clr-navbar: hsl(256 30% 26%);
    --clr-bg-info: hsl(255, 100%, 88%, .6);
    --clr-skill-bg: hsl(256, 91%, 91%);
}

.dark {
    --primary: hsl(256, 45%, 20%);
    --gradient-white: hsla(245, 32%, 42%, 0.900);
    --background-gradient: linear-gradient(var(--primary), var(--gradient-white), var(--primary));
    --clr-text: hsl(255, 100%, 88%);
    --clr-navbar: hsl(256 100% 88%);
    --clr-bg-info: hsl(256, 45%, 20%, .6);
    --clr-skill-bg: hsl(256, 91%, 91%);
}

:root:has(#light:checked) {
    --primary: hsl(255, 100%, 88%);
    --gradient-white: hsl(256, 0%, 95%);
    --radio-clr: hsl(255, 100%, 88%);
    --background-gradient: linear-gradient(var(--primary), var(--gradient-white), var(--primary));
    --clr-text: hsl(256, 45%, 20%);
    --clr-navbar: hsl(256 30% 26%);
    --clr-bg-info: hsl(255, 100%, 88%, .6);
    --clr-skill-bg: hsl(256, 91%, 91%);
}

:root:has(#dark:checked) {
    --radio-clr: hsla(245, 32%, 42%, 0.900);
    --primary: hsl(256, 45%, 20%);
    --gradient-white: hsla(245, 32%, 42%, 0.900);
    --background-gradient: linear-gradient(var(--primary), var(--gradient-white), var(--primary));
    --clr-text: hsl(255, 100%, 88%);
    --clr-navbar: hsl(256 100% 88%);
    --clr-skill-bg: hsl(256, 91%, 91%);
    --clr-bg-info: hsl(256, 45%, 20%, .6);
}